<div class="delete-modal">
    <div>
        <h3>Delete Resturant</h3>
        <p> Are you sure you want to delete this Resturant? </p> 
        <p> This action cannot be undone.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
             <button class="btn btn-outline-secondary" (click)="onClose('N')">Cancel</button>
        </div>
        <div class="col-md-6 text-md-end">
           <button class="btn btn-outline-danger" (click)="onClose('Y')">Delete</button>
        </div>
    </div>
</div>