<div class="delete-modal">
    <div>
    <!-- <img src="../../../assets/Images/alert-Sign.jpg" alt="alert-triangle"/> -->
<h4>Delete Hotel</h4>
 <p> Are you sure you want to delete this document? </p> 
 <p> You will be required to upload another document to complete application.</p>
</div>
<div style="display: flex;">
 <button class="btn btn-outline-secondary" (click)="onClose('N')">Cancel</button>
 <button class="btn btn-outline-danger" (click)="onClose('Y')">Delete</button>
</div>
</div>